.header {
    text-align: center;
}

.headerContent {
    background-color: rgb(20, 74, 116);
    border-radius: 0 0 14px 14px;
    min-height: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent > h1 {
    position: relative;
    top: 8px;
    font-size: calc(6px + 4vmin) !important;
    color: white !important;
}