.header {
    text-align: center;
    background-color: #2b2d6e;
}

.headerContent {
    background-color: rgb(20, 74, 116);
    border-radius: 0 0 20px 20px;
    min-height: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent > h1 {
    position: relative;
    top: 8px;
    font-size: 40px !important;
    color: white !important;
}
